.responsive-calendar {
  /* by setting font-size, all the elements will correspond */
  font-size: 10px !important; /* default to 10px */
  font-family: 'Roboto', sans-serif; /* Use the desired font family */  
  @apply bg-white border border-gray-300 rounded-lg shadow;
}

.react-calendar__tile {
  @apply p-2 hover:bg-blue-100;
}

@media (max-width: 1500px) {
  .responsive-calendar {
    font-size: 8px !important;
  }
}

@media (max-width: 1200px) {
  .responsive-calendar {
    font-size: 7px !important;
  }
}

@media (max-width: 768px) {
  .responsive-calendar {
    font-size: 6px !important;
  }
}

/* Large screens */
@media (min-width: 2500px) {
  .responsive-calendar {
    font-size: 12px !important;
  }
}

.react-calendar__navigation button {
  background: none;
  border: none;
  cursor: pointer;
  margin: 2px;
  padding: 6px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-calendar__navigation button:enabled:hover {
  background-color: #22c55e;
  color:white;
  border-radius: 4px;
}

.react-calendar__navigation button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}